.#{$projectPrefix}blogPostImageAndMeta {
	
}

.#{$projectPrefix}blogPostImageAndMeta_meta {
	color: #61676c;
	font-size: 9px;
	font-weight: 300;
	margin: 0 0 -4.1rem 0.5rem;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}

.#{$projectPrefix}blogPostImageAndMeta_avatar {
	float: left;
	margin: -5px;
	padding: 5px;

	img {
		@include border-radius( 50% );
		@include box-shadow( 1px 1px 5px rgba( 0, 0, 0, 0.05 ) );
		@include clearfix;
		display: inline-block;
		height: 8.5rem;
		width: 8.5rem;
		vertical-align: middle;
	}
}

.#{$projectPrefix}blogPostImageAndMeta_author,
.#{$projectPrefix}blogPostImageAndMeta_date,
.#{$projectPrefix}blogPostImageAndMeta_tags {
	float: left;
	padding-left: 1.6rem;
	padding-top: 2.3rem;
}

.#{$projectPrefix}blogPostImageAndMeta_tags {
	float: none;
	overflow: hidden;

	.#{$projectPrefix}blogPostImageAndMeta_metaIcon {
		float: left;
	}
}

.#{$projectPrefix}blogPostImageAndMeta_taglist {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.#{$projectPrefix}blogPostImageAndMeta_metaIcon {
	display: inline-block;
	height: 1.5em;
	margin-right: 0.5em;
	position: relative;
	top: -0.1em;
	vertical-align: middle;
	width: 1.5em;

	.#{$projectPrefix}svg {
		height: 90%;
	}

	path {
		fill: #61676c;
	}
}

.#{$projectPrefix}blogPostImageAndMeta_imageWrapper {
	border-bottom: 1px solid #F1F1F1;
	font-size: 0;
	height: 0;
	overflow: hidden;
	padding-bottom: 41.379%;
	position: relative;

	img {
		height: auto;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.#{$projectPrefix}imagePlaceholder {
		border: 0;
	}
}

@media ( max-width: 579px ) {
	.#{$projectPrefix}css .#{$projectPrefix}blogPostImageAndMeta {
		.#{$projectPrefix}blogPostImageAndMeta_meta {
			margin-left: 0;
		}

		.#{$projectPrefix}blogPostImageAndMeta_author {
			display: none;
		}
	}
}