.#{$projectPrefix}bubble {
	color: #01668F;
	cursor: pointer;
	display: table;
	font-size: 1.8rem;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	width: 100%;
}

.#{$projectPrefix}bubble_wrapper {
	display: table-row;
	vertical-align: middle;
}

.#{$projectPrefix}bubble_iconWrapper {
	display: table-cell;
	vertical-align: middle;
	width: 6.2rem;
}

.#{$projectPrefix}bubble_icon {
	@include transition( all 300ms );
	display: inline-block;
	opacity: 0.8;
	vertical-align: middle;
}

.#{$projectPrefix}bubble_content {
	display: table-cell;
	padding-left: 1rem;
	padding-right: 1rem;
	vertical-align: middle;
}

.#{$projectPrefix}bubble {
	&:hover {
		.#{$projectPrefix}bubble_icon {
			opacity: 1;
		}
	}
}

$bubbleIcons: absplit apidocumentation apiimplementations apirest attributes autoresponder blacklist bouncemanagement
bouncesandunsubscribes clickmap clients clustering collaborative conversiontracking csa cscrm cssinliner dailybackups
ddv dedicatedips doi duplicates editor eigenedomain export forfree freesupport fullservice geotracking googleanalytics
imagehosting imagemaps import inboxtesting lifecycle listmanagement listsegmentation magento openandclick payondemand
personalized plentymarkets preise privacyprotection returnpath saas safeaddresses schedule schwellwerte server sms
smsfromaddress smsscheduled smsworldwide ssl templateprogramming templates textversion unsubscribes webversion;

.#{$projectPrefix}bubble {

	@each $icon in $bubbleIcons {
		&.#{$projectPrefix}bubble-#{$icon} {
			.#{$projectPrefix}bubble_icon {
				@include background-sprite( 'bubble-#{$icon}' );
			}
		}
	}
}