@import "base/config";
@import "base/fonts";

@import "compass";
@import "mixins/backgroundSprite";
@import "mixins/clearfix";
@import "mixins/normalize";
@import "mixins/pointer-events";
@import "mixins/selection";


.#{$projectPrefix}html {
	font-size: 10px;
	line-height: 1.375;
}

.#{$projectPrefix}body {
	background: #fff;
	color: #868e95;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	overflow-x: hidden;
}

.#{$projectPrefix}css {
	*,
	*:before,
	*:after {
		@include box-sizing( border-box );
	}

	[name="google_conversion_frame"] {
		display: block;
		height: 0;
	}

	a,
	.n2go-link {
		color: #00a7e6;
		text-decoration: none;

		&:hover,
		&:active {
			color: darken( #00a7e6, 10% );
			text-decoration: none;
		}
	}

	.#{$projectPrefix}textAlign-center {
		text-align: center;
	}

	.#{$projectPrefix}textAlign-right {
		text-align: right;
	}

	.alignnone {
		margin: 0.5rem 2rem 2rem 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 0.5rem auto;
	}

	.alignright {
		float:right;
		margin: 0.5rem 0 2rem 2rem;
	}

	.alignleft {
		float: left;
		margin: 0.5rem 2rem 2rem 0;
	}

	.aligncenter {
		display: block;
		margin: 0.5rem auto;
	}

	a img.alignright {
		float: right;
		margin: 0.5rem 0 2rem 2rem;
	}

	a img.alignnone {
		margin: 0.5rem 2rem 2rem 0;
	}

	a img.alignleft {
		float: left;
		margin: 0.5rem 2rem 2rem 0;
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%; /* Image does not overflow the content area */
		padding: 0.5rem 0.3rem 1rem;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 0.5rem 2rem 2rem 0;
	}

	.wp-caption.alignleft {
		margin: 0.5rem 2rem 2rem 0;
	}

	.wp-caption.alignright {
		margin: 0.5rem 0 2rem 2rem;
	}

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	.wp-caption p.wp-caption-text {
		font-size: 1.1rem;
		line-height: 1.7rem;
		margin: 0;
		padding: 0 0.4rem 0.5rem;
	}

	.page-numbers {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 0.5rem;
			vertical-align: middle;
		}
	}

	[data-distribute-items-horizontally=true] {
		text-align: justify;

		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}

	.yarpp-related {
		margin: 0 !important;
	}
}

@import "layout/centeredContent";
@import "layout/visualComposer";

@import "modules/content";
@import "modules/wissen";

@import "modules/allFeatures";
@import "modules/authorWidget";
@import "modules/blog";
@import "modules/blogPost";
@import "modules/blogPostComment";
@import "modules/blogPostComments";
@import "modules/blogPostImageAndMeta";
@import "modules/blogSidebarWidgets";
@import "modules/breadcrumbs";
@import "modules/bubble";
@import "modules/button";
@import "modules/checkbox";
@import "modules/columns";
@import "modules/commentForm";
@import "modules/companyType";
@import "modules/companyTypes";
@import "modules/customRecentPostsWidget";
@import "modules/embed";
@import "modules/faq";
@import "modules/faqCategory";
@import "modules/featuresGrid";
@import "modules/flyout";
@import "modules/footer";
@import "modules/footerSection";
@import "modules/formResponse";
@import "modules/grid";
@import "modules/header";
@import "modules/helpLink";
@import "modules/ideaLink";
@import "modules/imagePlaceholder";
@import "modules/infoBox";
@import "modules/languageDropdown";
@import "modules/latestPost";
@import "modules/latestPostsGrid";
@import "modules/loginForm";
@import "modules/navigationArrow";
@import "modules/offCanvas";
@import "modules/offCanvasLanguageSelector";
@import "modules/offCanvasLanguageSelectorToggle";
@import "modules/offCanvasNavigation";
@import "modules/offCanvasNavigationToggle";
@import "modules/panel";
@import "modules/pageTabsNavigation";
@import "modules/popularPosts";
@import "modules/postTagsWidget";
@import "modules/registrationForm";
@import "modules/relatedPosts";
@import "modules/searchForm";
@import "modules/searchResult";
@import "modules/searchResults";
@import "modules/shareButton";
@import "modules/sidebarNewsletterForm";
@import "modules/slider";
@import "modules/sliderNavigation";
@import "modules/sliderTab";
@import "modules/svg";
@import "modules/teaser";
@import "modules/teaserGrid";
@import "modules/wpcf7-form";

@import "vendor/apprise";